QListView {
    outline: 0;
    background-color: #F0F0F0;
}

QListView::item{
    background-color: #E6E6E6;
}

QListView::item:hover{
    background-color: #D6D6D6;
}

QListView::item:active:selected{
    color: black;
    background-color: #C1C1C1;
    border: 1px solid #666666;
}

QListView::item:active:!selected{
    border: 1px solid #AAAAAA;
}